{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{recipe_object.title }} Scrumptious Recipes </title>
    <link rel="stylesheet" href="{% static "css/recipes.css"%}">
</head>
<header>
      <nav>
        <a href="{% url 'recipe_list' %}">Main page</a>
        <a href="{% url "edit_recipe" %}">Edit a recipe</a>
      </nav>
    </header>
<body>
    <h1>{{recipe_object.title}}</h1>
        <div>
            <img id="image-border" src=" {{recipe_object.picture}}"
            alt="Traditional Vietnamese beef soup" width="400" height="400"
            title="Traditional Vietnamese beef soup" id="image-border" >
        </div>
        <p> {{recipe_object.description}}
        <h6> Traditional Vietnamese beef soup
            Authentic homemade Phở starts with toasting the spices until fragrant.
            Then let the magic unfold as it simmers long and slow in a beef bone stock until the flavor is deeply infused.
            Learn how to make this signature noodle soup from scratch and serve it with rice noodles, your favorite toppings and fresh herbs!
        </h6>
    <h2>Ingredients</h2>
    <h3>For broth</h3>
    <ul>
        <li> 5 pounds beef bones with marrow (leg bones, oxtails, etc.)</li>
        <li>4-5 ounces fresh ginger root</li>
        <li>1 onion</li>
        <li>1 daikon, peeled, trimmed, and cut in half or thirds</li>
        <li>5 star anise</li>
        <li>8 cloves</li>
        <li>2 3-inch long cinnamon sticks</li>
        <li>1 teaspoon cumin seeds</li>
        <li>5 tablespoons salt, divided</li>
        <li>4 tablespoons fish sauce</li>
        <li>4 tablespoon sugar, divided</li>
        <li>1/2 tablespoon monosodium glutamate (optional)</li>
    </ul>
    <h3>For toppings and garnish</h3>
    <ul>
        <li>2 pounds beef plate</li>
        <li>1 pound beef tripe</li>
        <li>2 pounds beef top round or eye round, sliced thinly</li>
        <li>1/2 bunch cilantro, chopped</li>
        <li>1/2 bunch scallions, chopped</li>
        <li>1/2 onion, thinly sliced</li>
        <li>Fresh herbs such as Thai basil, Vietnamese coriander, etc.</li>
        <li>Limes, cut into wedges</li>
        <li>Fresh beansprouts, trimmed</li>
        <li>Hoisin sauce</li>
        <li>Chili sauce</li>
    </ul>
    <h3>For noodles</h3>
    <ul>
        <li>2 to 3 pounds “rice stick,” prepared according to directions on package</li>
    </ul>
    <h2>Steps</h2>
        <div class="steps">
        <div><img src="https://farm8.staticflickr.com/7102/7162142839_0c64e7600d_b.jpg" alt="spi
        with" width="400" height="300"></div>
        <p>Dry roast the star anise, cumin seeds,
            cloves, and cinnamon sticks in a non-stick skillet over medium heat until fragrant.
            Set aside to cool.</p>
        <div><img src="http://farm8.staticflickr.com/7219/7162157499_b42e0af83e_b.jpg" width="400" height="300"></div>
        <p>Once the spices have cooled, transfer to a muslin spice sachet
            and tie the bag closed tightly.</p>
        <div><img src="http://farm8.staticflickr.com/7094/7347376878_1b2b1b080c_b.jpg"
            width="400" height="300"></div>
        <p>Heat a barbecue grill or char gill pan over high heat and grill the
            unpeeled onions and ginger evenly until all sides are blackened,
            approximately 45 minutes.</p>
        <div><img src="http://farm8.staticflickr.com/7086/7347356736_07eb2dc616_b.jpg"
            width="400" height="300"></div>
        <p>While the onion and ginger are blackening on the grill, begin preparing the stock. If time permits, submerge the bones in cold water and soak for 1 hour, then drain.
            <br>Otherwise, place the bones in a large stockpot.
            Fill the stockpot with enough water to cover the surface of the bones and bring to a boil.
            <br>The bones will have some impurities that need to be washed away, so once the water has boiled for 2-3 minuets, discard it and collect the bones in a colander. One by one, rinse the bones to remove any scum.
                The cleaner the bones are, the clearer the broth will be.</p>
        <div><img src="http://farm8.staticflickr.com/7099/7162192049_0f08ca028e_b.jpg"
            width="400" height="300"></div>
        <p>After giving the stockpot a thorough cleaning,
            fill it with 8 quarts of water and bring to a boil along with the bones, daikon, beef plate, and 2 tablespoons of salt.
            Skim the foam and fat off the surface as needed using a fine mesh skimmer.</p>
        <div><img src="http://farm9.staticflickr.com/8021/7347430494_2daba08d44_b.jpg"
            width="400" height="300"></div>
        <p>Drain the beef plate and slice it in 1/4″ thick slices. Set aside.</p>
        <div><img src="http://farm9.staticflickr.com/8154/7162209039_5153c027b3_b.jpg"
            width="400" height="300"></div>
        <p>For the tripe, bring water to a boil in a medium-sized sauce pan. Add the tripe to the boiling water and bring to another boil,
            approximately 4 minutes. Drain the tripe and run under cold water. Slice thinly and set aside.</p>
        <div><img src="http://farm8.staticflickr.com/7244/7162212515_08bd5e226a_b.jpg"
            width="400" height="300"></div>
        <p>Combine the scallions, cilantro, and onions and set aside. </p>
        <div><img src="http://farm8.staticflickr.com/7088/7347442328_599d3234dd_b.jpg"
            width="400" height="300"></div>
        <p>Place a portion of noodles in each soup bowl and garnish with tripe and slices of the cooked beef plate and thinly sliced raw beef. Ladle the hot stock over the noodles and beef just before serving.</p>
        <div><img src="http://farm9.staticflickr.com/8012/7162257059_f39ccdef38_b.jpg"
            width="400" height="300"></div>
        <p>Garnish with the onion and cilantro mixture and a pinch of black pepper.
            At the table, add in bean sprouts, herbs, and a squeeze of lime.
            Dip the meats in hoisin and chili sauces for extra pow.</p>
        </div>

        <!-- <h3 style="word-spacing: 30px;">Amount
        <span style="word-spacing: 1px;"> Food Item </h3> -->


</body>
</html>
