* {
      background-color: antiquewhite;
  }
  h1 {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
  h2 {
      color: rgb(115, 7, 7);
      padding: 8px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .list {
      display: grid;
      grid-template-columns: repeat(2,auto);
  }
  p {font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
  h3 {
      margin: 24px 20px;
      font-size: 20px; font-style: bold;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  ul :nth-child(2n) {
      background-color: rgb(159, 255, 255);
      border: 1px; width: 400px;
  }
  ul:hover {
      zoom: 120%;
  }
  li{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  h6 {
      color: rgb(115, 7, 7);
      border: 2px solid black;
      border-style: dotted;
      width: 600px;
      height: 80px;
      font-style: italic;
      padding: 16px;
      font-size: 16px;}

  img {
      max-width: 100%;
      height: auto;
      grid-column: span 2;
      grid-row: span 2;
  }

  .steps {
      display: grid;
      grid-template-rows: repeat(10, auto);
      grid-template-columns: 400px 300px;
      column-gap: 20px;

  }

  .step-1 {
      grid-row: 1/1;
      grid-column: 1/1;
  }

  p {
      background-color: rgb(230, 198, 198);
      size: 14px;
      padding: 5px 5px;
      align-self: center;
  }

  #image-border {
      border: 5px rgb(120, 29, 29);
  }
